<fieldset>
  <legend>Recipe App</legend>
  <form method="POST" action="/recipes">
    <div class="form-group col-md-4">
      <input name="recipes[name]" class="form-control" placeholder="Name"/>
    </div>
    <div class="form-group col-md-4">
      <input name="recipes[ingredients]"  class="form-control" placeholder="Ingredients"/>
    </div>
    <div class="form-group col-md-4">
      <input name="recipes[img]"  class="form-control" placeholder="Image URL"/>
    </div>
    <div class="form-group col-md-4">
      <button class="btn btn-success col-md-12">Add a Recipe</button>
    </div>
  </form>
</fieldset>

<% recipes.forEach( function(recipe){ %>
  <div id='header'>
    <h2><%= recipe.name %></h2>
    <img src="<%= recipe.showPhoto() %>" />
    <p><b>Ingredients :  </b> <%= recipe.ingredients %></p>
  </div>
  <form method="PUT" action="/recipes/<%= recipe.id%>/edit">
    <div class="form-group col-md-2">
      <button class="btn btn-warning form-control">
        <span class="ion-edit"></span>
      </button>
    </div>
  </form>
  <form method="POST" action="/recipes/<%= recipe.id%>/delete">
    <div class="form-group col-md-2">
      <button class="btn btn-danger form-control">
        <span class="ion-close-circled"></span>
      </button>
    </div>
  </form>
<% }) %>
